In [1]:
import pandas as pd

In [54]:
def sample_natural_questions(filepath, num_sample):
    instruction = 'Answer the query based on the article. Ensure the answer is consistent with the corresponding article. Note that consistency means all information in the answer is supported by the article.'
    df = pd.read_csv(filepath)
    article_ex = df['Article'].values[0]
    query_ex = df['Query'].values[0]
    prompt = f'Article: {article_ex[:5]}\n{instruction}\nQuery: {query_ex}\n Answer:'
    print(prompt)
    
    return df

In [55]:
fileinfo = {
    'natural_questions': '/home/ramprasad.sa/qf_sd_summarization/datasets/postprocessed/query_focused/natural_questions.csv',
    'adversarial_qa': '/home/ramprasad.sa/qf_sd_summarization/datasets/postprocessed/query_focused/adversarial_qa.csv',
    'squality': '/home/ramprasad.sa/qf_sd_summarization/datasets/postprocessed/query_focused/squality.csv'
}

df = sample_natural_questions(fileinfo['natural_questions'], 100)
df.head()[:1]

Article: Trade
Answer the query based on the article. Ensure the answer is consistent with the corresponding article. Note that consistency means all information in the summary is supported by the article.
Query: what purpose did seasonal monsoon winds have on trade
 Answer:

,Unnamed: 0,id,Article,Query,Long_Answer,Short_Answer,Faithful_Query
0,0,5225754983651766092,Trade winds - wikipedia Trade winds Jump to : ...,what purpose did seasonal monsoon winds have o...,NaN,NaN,yes

In [49]:
df['Query'].values[1]

'where did they film high school musical two'

In [41]:


def sample_rq1(file_info, num_sample = 100):
    df_sample = {
    'id': [],
    'Article': [],
    'Query': [],
    'References': [],
    'Faithful_Query': []
  
    }
    
    for filetype, filepath in file_info.items():
        df = pd.read_csv(filepath)
        print(filetype, df.keys())
        df_sample_ft = df.sample(100)
    
        if filetype == 'natural_questions':
            references_long = [long_ans
                              if type(long_ans) is str else None 
                                  for long_ans in 
                                       list(df_sample_ft['Long_Answer'].values)]
            references_short = [short_ans 
                                if type(short_ans) is str else None 
                                    for short_ans in 
                                        list(df_sample_ft['Short_Answer'].values)]
            references = list(zip(references_long, references_short))
        
        elif filetype == 'adversarial_qa':
            references = list(df_sample_ft['Answers'].values)
            references = [each if each else None for each in references]
            
        elif filetype == 'squality':
            references = list(df_sample_ft['Answers'].values)
            references = [eval(each) for each in references]
    
        df_sample['id'] += list(df_sample_ft['id'].values)
        df_sample['Article'] += list(df_sample_ft['Article'].values)
        df_sample['Query'] += list(df_sample_ft['Query'].values)
        df_sample['References'] += references
        df_sample['Faithful_Query']+= list(df_sample_ft['Faithful_Query'].values)

    assert len(set([len(v) for k , v in df_sample_rq1.items()])) == 1
    return df_sample

In [42]:



df_sample = sample_rq1(fileinfo, 100)

natural_questions Index(['Unnamed: 0', 'id', 'Article', 'Query', 'Long_Answer', 'Short_Answer',
       'Faithful_Query'],
      dtype='object')
adversarial_qa Index(['Unnamed: 0', 'id', 'Article', 'Query', 'Answers', 'Faithful_Query'], dtype='object')
squality Index(['Unnamed: 0', 'id', 'Article', 'Query', 'Answers', 'Faithful_Query'], dtype='object')

In [43]:
# pd.read_csv(fileinfo['natural_questions'])

In [44]:
filepath = '/home/ramprasad.sa/qf_sd_summarization/datasets/postprocessed/aspect_focused/oasumm.csv'
df = pd.read_csv(filepath)
oasumm_sample = df.sample(100)
oasumm_sample.head()[:2]

,Unnamed: 0,id,Title,Article_OG,Article,Aspect,Aspect_Sents,Query,Reference,Faithful_Query
34341,34341,67337651788602441439400781675753097745,Restauration (ship),On what is considered the first organized emig...,The Norse-American Centennial was held in Minn...,History,On what is considered the first organized emig...,Summarize the History of Restauration (ship),It became a symbol of Norwegian American immig...,no
97673,97673,335433622514591354420104586042173081638,Amblyaudia,Children with amblyaudia experience difficulti...,Families report the presence of amblyaudia in ...,Symptoms and signs,Children with amblyaudia experience difficulti...,Summarize the Symptoms and signs of Amblyaudia,Individuals with amblyaudia have normal hearin...,no

In [11]:
filepath = '/home/ramprasad.sa/qf_sd_summarization/datasets/postprocessed/aspect_focused/aspect_news_summ.csv'
df = pd.read_csv(filepath)
aspect_news_summ_sample = df.sample(100)
aspect_news_summ_sample.head()[:2]

,Unnamed: 0,id,Article,Aspect,Query,Reference,Faithful_Query
241,241,270039784860198903136674953923632489510,"Minamisoma, Japan (CNN) -- The scene of sheer ...","geography, region, or location","geography, region, or location","Minamisoma, Japan (CNN) -- The scene of sheer ...",yes
387,387,123252535517968928407575531269154458303,(CNN) -- The magnitude-8.8 earthquake that roc...,"geography, region, or location","geography, region, or location",(CNN) -- The magnitude-8.8 earthquake that roc...,yes